body {
  margin: 0;
  min-height: 100vh;

  background: radial-gradient(
    circle at center,
    rgba(58, 180, 150, 1) 0%,
    rgba(86, 227, 192, 1) 18%,
    rgba(255, 236, 204, 1) 41%
  );

  background-size: 100% 100%;
  animation: breathe 18s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 135% 135%;
  }
  100% {
    background-size: 100% 100%;
  }
}

body {
  background: linear-gradient(to bottom, #E6C7A3, #7C9A6D);
  font-family: 'Cormorant Garamond', serif;
}

.blob {
  background: rgba(243, 237, 228, 0.8);
  border-radius: 60% 40% 50% 50% / 40% 60% 50% 60%;
  padding: 60px;
  width: 60%;
  margin: 100px auto;
  box-shadow: 0 20px 60px rgba(0,0,0,0.1);
}


