body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: radial-gradient(
    circle at center,
    rgba(58,180,150,1) 0%,
    rgba(86,227,192,1) 18%,
    rgba(255,236,204,1) 41%
  );
  animation: breathe 18s ease-in-out infinite;
}


@keyframes breathe {
  0%   { background-size: 100% 100%; }
  50%  { background-size: 135% 135%; }
  100% { background-size: 100% 100%; }
  0% {
    background: radial-gradient(
      circle 35% at center,
      rgba(58, 180, 150, 1) 0%,
      rgba(86, 227, 192, 1) 18%,
      rgba(255, 236, 204, 1) 41%
    );
  }

  50% {
    background: radial-gradient(
      circle 45% at center,
      rgba(58, 180, 150, 1) 0%,
      rgba(86, 227, 192, 1) 18%,
      rgba(255, 236, 204, 1) 41%
    );
  }

  100% {
    background: radial-gradient(
      circle 35% at center,
      rgba(58, 180, 150, 1) 0%,
      rgba(86, 227, 192, 1) 18%,
      rgba(255, 236, 204, 1) 41%
    );
  }
}
