body::before {
  content: "";
  position: fixed;       
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: radial-gradient(
    circle at center,
    #13876A 0%,         
    rgba(86,227,192,1) 18%, 
    rgba(255,236,204,1) 41%
  );
  background-size: cover; 
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;         
  animation: breathe 12s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
