body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background: #13876a;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800%;
  height: 800%;
  background: radial-gradient(
    circle,
    #FFECCC 0%,                
    rgba(19, 120, 95, 0.05) 0.0002%,  
    rgba(86, 227, 192, 0.05) 0.2%     
  );
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
  animation: breathe 6s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
