body {
  margin: 0;
  min-height: 100vh;

  background: radial-gradient(
    circle at center,
    rgba(58, 180, 150, 1) 0%,
    rgba(86, 227, 192, 1) 23%,
    rgba(255, 236, 204, 1) 100%
  );

  background-size: 100% 100%;
  animation: breathe 16s ease-in-out infinite;
}
