body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;

}

body::before {
  content: "";
  position: fixed;       
  top: 50%;
  left: 50%;
  width: 100%; 
  height: 100%;
  background: radial-gradient(circle, rgba(19, 135, 106, 1) 0%, rgba(86, 227, 192, 1) 13%, rgba(255, 236, 204, 1) 22%);
  background-size: cover;
  border-radius: 50%; 
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
  animation: pulse 8s ease-in-out infinite; 
}


@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(2); 
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
