body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background: #13876a;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  width: 800%;
  height: 800%;
  background: radial-gradient(
    circle,
    rgba(19, 120, 95, 1) 10%,
    rgba(86, 227, 192, 1) 15%,
    rgba(255, 236, 204, 1) 25%
    #FFECCC 0%,             
    rgba(19, 120, 95, 0.1) 1%,   
    rgba(86, 227, 192, 0.1) 1.5%, 
    rgba(86, 227, 192, 0.1) 15%   
  );
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
@@ -28,9 +29,9 @@
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
