body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: radial-gradient(
    circle at center,
    #13876A 0%,    
    rgba(70, 190, 160, 1) 18%,   
    rgba(255,236,204,1) 41%  
  );
  animation: breathe 18s ease-in-out infinite;
}

@keyframes breathe {
  0%   { background-size: 100% 100%; }
  50%  { background-size: 135% 135%; }
  100% { background-size: 100% 100%; }
}

