
* {
  box-sizing: border-box;
}

/* GRADIENT */
body {
  margin: 0;
  padding-bottom: 50px;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

body.index-page::before {
  display: block;
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800%;
  height: 800%;
  background: radial-gradient(
    circle,
    #13785F 0%,            
    #51FCD2 0.9%,          
    #FFECCC 2%             
  );
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
  animation: breathe 6s ease-in-out infinite; 
}
@keyframes breathe {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(2); }
  100 { transform: translate(-50%, -50%) scale(1); }
}

/* BACKGROUND */
body.northcarolina-page {
  background-image: url('northcarolina.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
body.arizona-page {
  background-image: url('arizona.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* KOKOPELLI */
.kokopelli {
  position: fixed;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
  margin-top: 20px;
  opacity: 1;
  animation: moveDown 10s linear infinite;
  z-index: 9999;
}
@keyframes moveDown {
  0% { transform: translateY(-50px); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { transform: translateY(110vh); opacity: 0; }
}

/* NAVIGATION */
.top-nav {
  width: 300px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  z-index: 9999;
}


body.index-page .top-nav {
  background: rgba(0, 255, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}
body.index-page .top-nav a {
  color: #00ff00;
}
body.index-page .top-nav a:hover {
  color: #66ff66;
}


body.northcarolina-page .top-nav {
  background: rgba(70, 130, 180, 0.8);
}
body.northcarolina-page .top-nav a {
  color: #87CEFA;
}
body.northcarolina-page .top-nav a:hover {
  color: #00BFFF;
}


body.arizona-page .top-nav {
  background: rgba(255, 165, 0, 0.8);
}
body.arizona-page .top-nav a {
  color: #FFA500;
}
body.arizona-page .top-nav a:hover {
  color: #FFB733;
}

/* MUSIC  */
.music-player {
  position: fixed;
  top: 60px;
  right: 20px;
  padding: 10px;
  border-radius: 50%; 
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 999;
  transition: box-shadow 0.2s, transform 0.2s;
}
body.index-page .music-player {
  background: rgba(0, 255, 0, 0.5);
}
body.northcarolina-page .music-player {
  background: rgba(70, 130, 180, 0.8);
}
body.arizona-page .music-player {
  background: rgba(255, 165, 0, 0.8);
}

.music-player:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  transform: scale(1.05);
}


.content {
  margin-top: 80px;
  padding: 20px;
}
