body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background: #13876a; 
  background: #13785f; 
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  width: 400%; 
  height: 400%;
  background: radial-gradient(
    circle,
    rgba(19, 135, 106, 1) 0.01%,     
    rgba(19, 120, 95, 1) 0%,        
    rgba(86, 227, 192, 1) 0.05%,    
    rgba(255, 236, 204, 1) 22%       
    rgba(255, 236, 204, 1) 18%       
  );
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
  animation: breathe 20s ease-in-out infinite; 
  animation: breathe 20s ease-in-out infinite;
}
