body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  
}


@keyframes breathe {
  0%   { background-size: 100% 100%; }
  50%  { background-size: 135% 135%; }
  100% { background-size: 100% 100%; }
}

