body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background: #13876a; 
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400%; 
  height: 400%;
  background: radial-gradient(
    circle,
    rgba(19, 135, 106, 1) 0%,        
    rgba(86, 227, 192, 1) 2%,        
    rgba(255, 236, 204, 1) 18%       
  );
  transform: translate(-50%, -50%) scale(1);
  z-index: -1;
  animation: breathe 6s ease-in-out infinite; 
}


@keyframes breathe {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(2); 
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
